<nav>
  <div class="site-title">
    <a href="/"><h1>Interview Tracker</h1></a>
    <p>A YG Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
       <li><a href="/topics">Topics</a></li>
    <li><a href="/addQuestion">Add Question</a></li>

  </ul>
</nav>